# List

In [ ]:
student_name = "Panha"
student_name2 = "Sambath"

In [2]:
student_names = ["Panha", "Sambath"]

Get 2nd element

In [3]:
student_names[1]

'Sambath'

Get 1st element

In [4]:
student_names[0]

'Panha'

Get element out of range

In [5]:
student_names[2]

IndexError: list index out of range

Error in between of code (student_names = ["Panha", "Sambath"])

In [6]:
st3_name = student_names[2]
st1_name = student_names[0]
st2_name = student_names[1]

IndexError: list index out of range

In [7]:
st1_name

NameError: name 'st1_name' is not defined

In [10]:
st1_name = student_names[0]

In [11]:
print(st1_name)

Panha

In [12]:
print(stu2)

NameError: name 'stu2' is not defined

In [14]:
numbers = [1, 2, 3, 4, 5]
mixed_number_and_text = [1, "2", 3, "4", 5]

In [ ]:
numbers[1], mixed_number_and_text[1]

(2, '2')

In [16]:
numbers[1] + mixed_number_and_text[1]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Update list

In [21]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [22]:
numbers = [1, 2, 30, 4, 5]
numbers

[1, 2, 30, 4, 5]

In [23]:
numbers[0] = 10
print(numbers)

[10, 2, 30, 4, 5]

# Dict

In [30]:
person = { 'name': "Sambath", "age": 20}
person

{'name': 'Sambath', 'age': 20}

Access key of dict

In [31]:
print(person['name'])

Sambath

In [32]:
person['gender']

KeyError: 'gender'

In [33]:
person['gender'] = 'Male'

In [34]:
print(person)

{'name': 'Sambath', 'age': 20, 'gender': 'Male'}

# Turple

In [38]:
numbers = (1, 2, 3, 4)

In [39]:
numbers[0]

1

In [40]:
numbers[0] = 10

TypeError: 'tuple' object does not support item assignment

# Loop

## For-Loop

In [61]:
numbers = [1, 2, 3, 4, 5]
for n in numbers:
    print("===============")
    print(n)
print("Finished")

===============
1
===============
2
===============
3
===============
4
===============
5
Finished

In [62]:
tuple_numbers = (1, 2, 3, 4, 5)
for n in tuple_numbers:
    print("===============")
    print(n)
print("Finished")

===============
1
===============
2
===============
3
===============
4
===============
5
Finished

In [65]:
person = { 'name': "Sambath", "age": 20}
for value in person.keys():
    print(value)

name
age

In [66]:
person = { 'name': "Sambath", "age": 20}
for value in person.values():
    print(value)

Sambath
20

In [69]:
for v, k in person.items():
    print(v, k)

name Sambath
age 20

In [77]:
tuple_numbers = (1, 2, 3, 4, 5)
accumulated_total = 0
for ele in tuple_numbers:
    accumulated_total = accumulated_total + ele
accumulated_total

15

In [72]:
tuple_numbers = (1, 2, 3, 4, 5)
total = 0
for ele in tuple_numbers:
    print(ele)
total = total + ele

1
2
3
4
5

In [73]:
total

5

## While loop

In [81]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [80]:
loop = 100
step = 1
while step <= loop:
    print(step)
    step = step + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
age = input("Enter your age: ")
continue_work = True
while continue_work:
    try: 
        age = int(age)
        continue_work = False
    except:
        print("Invalid input, please enter a valid age")
        age = input("Enter your age: ")
print(f"You age is {age}")

Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
Invalid input, please enter a valid age
You age is 100

# Function

In [87]:
def calculate_area(width, height):
    print("width", width)
    print("height", height)
    print(f"The area is {width * height}")

In [88]:
calculate_area()

TypeError: calculate_area() missing 2 required positional arguments: 'width' and 'height'

In [89]:
calculate_area(10, 200)

width 10
height 200
The area is 2000

In [90]:
area = calculate_area(10, 200)
print("area", area)

width 10
height 200
The area is 2000
area None

In [91]:
def calculate_area_with_return(width, height):
    print("width", width)
    print("height", height)
    print(f"The area is {width * height}")
    return width * height

area = calculate_area_with_return(10, 200)
area

width 10
height 200
The area is 2000

2000

In [92]:
calculate_area_with_return(height=10, width=200)

width 200
height 10
The area is 2000

2000